.grid-33
	.app--section
		ul.app--message--list
			each elDM in elDMs
				li
					h3
						| Conversation with @
						a #{elDM.sender.screen_name}
						ul.app--message--conversation
						if myTwit == elDM.sender.screen_name
							li.app--message--me
						else
							li.app--message
								.app--avatar(style='background-image: url(' + elDM.sender.profile_image_url + ')')
								p.app--message--text= elDM.text
								p.app--message--timestamp= moment(Date.parse(elDM.created_at)).fromNow()