doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		title Twitter Client
		meta(name='description' content='')
		meta(name='author' content='')
		link(rel='stylesheet', href='/static/global.css')
	body
block content