doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		title Twitter Client
		meta(name='description' content='')
		meta(name='author' content='')
		link(href='https://fonts.googleapis.com/css?family=Work+Sans:400,600', rel='stylesheet', type='text/css')
		link(rel='stylesheet', href='stylesheets/style.css')
	body
		include includes/header.pug
		block main